:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    background-repeat: no-repeat;

    height: 100vh;

    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;   
    color: #34355B;
}

.screen1{
    width: min(42.8rem, 90%);
    height: min(42.4rem, 90%);

    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    text-align: center;
}

.screen1 p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.0rem;
    color: #34355B;
}

.screen1 img{
    width: 26.4rem;
    height: 20rem;
}

.screen2{
    width: min(42.8rem, 65%);
    height: min(56.4rem, 90%);

    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    padding: 4.8rem 6.4rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;

    text-align: center;
}

.message-container{
    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

    padding: 1rem;
}

.message{
    font-family: 'Dancing Script';
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #000000;
}

.screen2 button{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.0rem;
    text-align: center;
    color: #FFFFFF;

    padding: 1.6rem;

    width: 17.4rem;
    height: 5.2rem;

    background: #FF9500;
    border-radius: 4px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: .3s;
}

.screen2 button:hover{
    background: #e58703;
}


.hide{
    display: none;
}
